.DS_Store

__pycache__/

# ignored files
videos/

experiments/gym-microrts-static-files/tmp
experiments/videos/
experiments/runs/
experiments/models/

gym_microrts/microrts/microrts.jar
show_maps/
texts/

main.log
data.json

.vscode/
.env
*.log
*runs*/
backup*/